@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "About Us Page";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="~/images/contact-image.jpg" />
<link rel="stylesheet" href="~/css/contact.css" />


    

   
    <body>
       
        
        
        <div class="wrapper" >
        <p class="first-paragraph">
            Send Us a Message
        </p>
        <input type="text" placeholder="Full Name" class="name-bar">
        <input type="text" placeholder="Email" class="email-bar">
        <input type="text"placeholder="Phone" class="phone-bar">
        <input type="text" placeholder="Your Message" class="message-bar">
        <br>
        <button class="send-button" id="btnSave">
            Send
        </button>
    </div>

    </body>

