@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center">
     <marquee class="text" width="50%" direction="left" height="50px" bgcolor="chocolate" class="marquee" ;>
                Welcome to our club!
                </marquee>


</div>
